@using DataAccessLayer.Klase

@{
    ViewBag.Title = "Fizicko lice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Grad> g = (List<Grad>)ViewData["g"];

    string Domena = (string)ViewData["Domena"];
    int? DomenePaketiId = (int?)ViewData["DomenePaketiId"];
    int? sslid = (int?)ViewData["sslid"];
    int? vpsid = (int?)ViewData["vpsid"];
    int? did = (int?)ViewData["did"];
    int? hid = (int?)ViewData["hid"];
}

<br />
<form action="/Klijent/FizickoSnimi">
    <input type="text" name="Domena" class="form-control" value="@Domena" style="display:none;" />
    <input type="text" name="DomenePaketiId" class="form-control" value="@DomenePaketiId" style="display:none;" />
    <input type="text" name="sslid" class="form-control" value="@sslid" style="display: none;" />
    <input type="text" name="vpsid" class="form-control" value="@vpsid" style="display: none;" />
    <input type="text" name="did" class="form-control" value="@did" style="display: none;" />
    <input type="text" name="hid" class="form-control" value="@hid" style="display: none;" />
    <div class="form-group">
        <label>Ime:</label>
        <input type="text" name="Ime" class="form-control" placeholder="Ime" />
    </div>
    <div class="form-group">
        <label>Prezime:</label>
        <input type="text" name="Prezime" class="form-control" placeholder="Prezime" />
    </div>
    <div class="form-group">
        <label>E-mail:</label>
        <input type="text" name="Email" class="form-control" placeholder="E-mail" required />
    </div>
    <div class="form-group">
        <label>Adresa:</label>
        <input type="text" name="Adresa" class="form-control" placeholder="Adresa" />
    </div>
    <div class="form-group">
        <label>Telefon:</label>
        <input type="text" name="Telefon" class="form-control" placeholder="Telefon" />
    </div>
    <div class="form-group">
        <label>Mobitel:</label>
        <input type="text" name="Mobitel" class="form-control" placeholder="Mobitel" />
    </div>
    <div class="form-group">
        <label>JMBG:</label>
        <input type="text" name="JMBG" class="form-control" placeholder="JMBG" />
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input type="password" name="Password" class="form-control" placeholder="Password" required />
    </div>
    <div class="form-group">
        <label>Grad:</label>
        <select id="Grad" name="Grad" class="form-control">
            @foreach (Grad x in g)
            {
                <option value="@x.Id">@x.Naziv</option>
            }
        </select>
    </div>
    <input type="submit" value="Snimi" class="btn btn-default" />

</form>