@using DataAccessLayer.Klase

@{
    ViewBag.Title = "Klijent Log";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<KlijentLog> log = (List<KlijentLog>)ViewData["log"];
    List<Klijenti> klijenti = (List<Klijenti>)ViewData["klijenti"];
}

<h2>Klijent log</h2>

<form action="/Klijent/LogPretraga">
    <div class="form-horizontal">
        <label>Od datuma:</label>
        <input type="date" name="Od" class="form-control" />
    </div>
    <div class="form-horizontal">
        <label>Do datuma:</label>
        <input type="date" name="Do" class="form-control" />
    </div>
    <div class="form-horizontal">
        <label>Klijent:</label>
        <select name="Kl" class="form-control">
            @foreach (Klijenti x in klijenti)
            {
                <option value="@x.Id">@x.Ime @x.Prezime</option>
            }
        </select>
    </div>
    <div>
        <br />
        <input type="submit" value="Pretraga" class="btn btn-default" />
        <br />
        <br />
    </div>
</form>

<table class="table table-striped" style="background-color: rgb(248, 248, 248)">
    <thead>
    <th>Klijent:</th>
    <th>Browser:</th>
    <th>Datum:</th>
    <th>Hostname:</th>
    <th>IP:</th>
    <th>Poruka:</th>
    </thead>

    @foreach (KlijentLog x in log)
    {
        <tr>
            @if (@x.Klijent != null)
            {
                <td>@x.Klijent.Ime @x.Klijent.Prezime</td>
            }
            else
            {
                <td></td>
            }
            
            <td>@x.Browser</td>
            <td>@x.Datum</td>
            <td>@x.Hostname</td>
            <td>@x.IP</td>
            <td>@x.Poruka</td>
        </tr>
    }
</table>